.post-meta {
  flex-direction: column;
  justify-content: center;
}

.post {
  min-height: 100vh;
  width: 100%;
  max-width: 880px;
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 88;
  /* border: 10px solid gold; */
}

.post-title {
  font-size: 3rem;
  color: white;
  font-weight: 300 !important;
}

div > p > a {
  /* border: 10px solid gold; */
  padding: 1rem;
  font-size: 2rem;
}

.post-wrapper {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-wrapper > p {
  padding: 2rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  flex: 2 2 auto;
}
