.post-container {
    justify-content: center;

    .post {
        max-width: 736px;
        display: flex;
        justify-content: center;

        .post-body {
            max-width: 672px;

            /**
             * Based on MUICSS's Table Component
             */
            table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            table > thead > tr > th,
            table > tbody > tr > th,
            table > tfoot > tr > th {
                text-align: left;
            }

            table > thead > tr > th,
            table > thead > tr > td,
            table > tbody > tr > th,
            table > tbody > tr > td,
            table > tfoot > tr > th,
            table > tfoot > tr > td {
                padding: 10px;
                line-height: 1.429;
            }

            table > thead > tr > th {
                border-bottom: 2px solid rgba(0, 0, 0, 0.12);
                font-weight: 700;
            }

            table > tbody + tbody {
                border-top: 2px solid rgba(0, 0, 0, 0.12);
            }

            table > tbody > tr > td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }

            code {
                display: block;
                overflow-x: auto;
                padding: 0.5em;
                color: #abb2bf;
                background: #282c34;
            }
        }
    }
}
