.footer-wrapper {
  display: grid;
  gap: 40px;
  justify-items: center;
  align-items: center;
  padding: 32px 0px 16px;
  background-color: var(--color-grey-100);
  color: var(--color-grey-700);
  fill: var(--color-grey-700);
}

.link-grid {
  display: inline-grid;
  gap: 12px;
  justify-items: center;
  align-items: center;
}

.info {
  display: grid;
  gap: 8px;
  justify-items: center;
  align-items: center;
}
