* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';

@include react-md-everything;
