@import '../../layouts/theme.scss';

.footer {
    justify-content: center;
    align-content: center;
    background-color: $md-primary-color;
    padding: 10px 5px 5px;

    .notice-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        margin-top: 25px;

        @media (max-width: 640px - 1px) {
            justify-content: space-around;
        }

        h4 {
            color: $md-secondary-color;
            text-align: center;
            margin: 0;
        }
    }
}
