.footer {
    justify-content: center;
    align-content: center;
    background-color: #424242;
    padding: 20px;

    h4 {
        color: #fff;
        text-align: center;
        margin: 0;
    }
}
