/* DESKTOP SCREEN */

@media only screen and (min-width: 1250px) { 

    h1 {
        font: 400 2.5em Spectral, serif;
        line-height: 140%;
    }
    
    h2 {
        font: 600 1.2em Spectral, serif;
    }

    /* BACKGROUND PATTERN */
    .pattern {
        grid-template-columns: 2em 1fr 2em;
        grid-template-rows: 2em 1fr 2em;
    }
    /* ----------------------------------------------- */


    /* CONTAINER GRID */
    .container {
        display: grid;
        grid-row: 2;
        grid-column: 2;
        grid-template-columns: 2em repeat(10, 1fr) 2em;
        grid-template-rows: 1fr auto auto auto auto auto 8em;
        grid-gap: .5em;
        grid-auto-flow: dense;    
        max-width: 1200px;
        background-color: var(--color-card);
        box-shadow:  0px 0px 30px var(--color-bg-coral-dark);
        border-radius: 10px;
        /* min-height: 100vh; */
        grid-template-areas:
            ".          .           .           .           TitleLeft   Logo        Logo        TitleRight  .           Contact     Contact     ."
            ".          .           .           Hello       Hello       Hello       Hello       Hello       Hello       .           .           ."
            ".          Interviews  Interviews  Interviews  Interviews  Interviews  Interviews  .           .           .           .           ."
            ".          Tagbox      Tagbox      Tagbox      Tagbox      Tagbox      Tagbox      Tagbox      Tagbox      Tagbox      Tagbox      ."
            ".          Directory   Directory   Directory   Directory   Directory   Directory   Directory   Directory   Directory   Directory   ."
            /* ". . Footer . . " */
            ;
    }   


     /* LOGOMARK */

     .logo {
        
    }

    .title-left, .title-right {
        
    }

    .title-left {
        
    }

    .title-right {
    
    }

    /* ----------------------------------------------- */
    
    /* HEADLINE */
    .headline {
        text-align: center;
    }

    .headline-contact {
        margin: 2.2em 0 0 0;
        grid-area: Contact;
        align-self: center;
        text-align: right;
        font: 400 .8em JetBrains-Mono, sans-serif;
    }

    .headline-contact form {
        
    }

    .headline-contact a {

    }
    /* ----------------------------------------------- */

    /* INTERVIEW PROMOS */
    .podcast {
        display: grid;
        grid-area: Interviews;
        grid-auto-flow: row;
        /* grid-template-columns: repeat(6, minmax(0,1fr)); */
    }

    .podcast--link {
        grid-column: span 2;
    }
    /* ----------------------------------------------- */


    /* DIRECTORY LISTING */
    .directory {
        grid-template-columns: repeat(10, minmax(0,1fr));
    }

    .directory-block {
        display: grid;
        grid-column: span 2;
    }

    /* .directoryBlockFilter {
        grid-column: span 4;
        font: 400 1em JetBrains-Mono, sans-serif;
        grid-auto-flow: row;
    } */

    .directory-block--item  {
        line-height: 1.6em;
        list-style: none;
    }

    .directory-block--item:hover {
        background: var(--color-card);
        border: .1em solid var(--color-listing-purple);
        padding: .2em .4em .1em .4em;
        margin: -.3em -.4em -.2em -.5em;
        box-shadow: -.3em .3em 0px var(--color-listingHover-shadow);
        text-decoration: none;
    }

    .directory-block--title {
        font-style: italic;
        background-color: var(--color-listing-blockBG);
        color: var(--color-listing-purple);
        /* margin: 1em 0 .5em 0; */
    }

    
    /* ----------------------------------------------- */


    /* CATEGORY & TAG CONTAINER*/
    .tagbox {
        display: grid;
        grid-area: Tagbox;
        margin: 6em 0 2em 0;
        /* background-color: var(--color-test); */
    }
    
    /* 
    cat-container
    display none on desktop
    display on on mobile sheet */

    .tag--link {
        /* font-style: italic; */
        line-height: 1.7em;
        margin: 0 .8em 0 0;
    }

    .tag--link:hover, .headline-contact--link:hover {
        text-decoration: underline;
        color: var(--color-listingLink);
    }
    /* ----------------------------------------------- */
}