/* MOBILE SCREEN */

@media only screen and (min-width: 300px) { 

    /* BACKGROUND PATTERN */
    .pattern {
        background: url(../../static/pattern04c.png);
        background-color: var(--color-bg-coral);
        display: grid;
        grid-template-columns: .5em 1fr .5em;
        grid-template-rows: 2em 1fr 2em;
    }
    /* ----------------------------------------------- */

    .container {
        display: grid;
        grid-row: 2;
        grid-column: 2;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr auto auto auto auto 8em;
        grid-gap: .5em;
        grid-auto-flow: dense;    
        background-color: var(--color-card);
        box-shadow:  0px 0px 30px var(--color-bg-coral-dark);
        border-radius: 10px;
        grid-template-areas:
            ".      Logo        .           .           .           .           "
            ".      Hello       Hello       Hello       Hello       Hello       "
            ".      Interviews  Interviews  Interviews  Interviews  Interviews  "
            ".      Tagbox      Tagbox      Tagbox      Tagbox      Tagbox      "
            ".      Directory   Directory   Directory   Directory   Directory   "
            /* ". . Footer . . " */
            ;
    }  

    .logo {
        display: grid;
        grid-area: Logo;
        /* display: none; */
        background-image: url(../../static/mark_strokes.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .introHello {
        padding: .5em 0 0 0;
        /* grid-column-start: 1;
        grid-column-end: 12; */
        font: 400 1em Spectral, serif;
    }

    .introContact {
        padding: 1em 0 0 0;
        /* grid-column-start: 1;
        grid-column-end: 10; */
        align-self: end;
        font: 400 1em JetBrains-Mono, sans-serif;
    }

    .tagBox {
        display: none;
    }

    .directory {
        display: grid;
        /* grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2; */
        grid-auto-flow: row;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-gap: .5em;
    }

    .directoryBlock {
        /* grid-column: span 4; */
        font: 400 1.5em JetBrains-Mono, sans-serif;
    }

    .directoryBlockFilter {
        /* grid-column: span 4; */
        font: 400 .8em JetBrains-Mono, sans-serif;
    }
}