/* MOBILE SCREEN */

@media only screen and (min-width: 400px) { 

    .pattern {
        grid-template-columns: .2em 1fr .2em;
        grid-template-rows: .2em 1fr .2em;
    }

    .container {
        grid-template-rows: 1fr auto 8em;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: .5em;
        grid-template-areas:
            "Logo Hello Hello Hello Hello Hello";
        background-color: blue;
    }

    /* .logo {
        display: none;
        grid-column-start: 2;
        grid-column-end: 4;
    } */


    .introHello {
        padding: .5em 0 0 0;
        /* grid-column-start: 1;
        grid-column-end: 12; */
        font: 400 1em Spectral, serif;
    }

    .introContact {
        padding: 1em 0 0 0;
        /* grid-column-start: 1;
        grid-column-end: 10; */
        align-self: end;
        font: 400 1em JetBrains-Mono, sans-serif;
    }

    .tagBox {
        display: none;
    }

    .directory {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-auto-flow: row;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .5em;
    }

    .directoryBlock {
        grid-column: span 4;
        font: 400 1.5em JetBrains-Mono, sans-serif;
    }

    .directoryBlockFilter {
        grid-column: span 4;
        font: 400 .8em JetBrains-Mono, sans-serif;
    }
}