* { }

body {
    font-size: 14px;
    line-height: 1;
}

a {
    text-decoration: none;
}


a {         color:#2e2e2e; }
/* h1:hover, h2:hover, a:hover {   
    background-color: rgb(255, 255, 255); 
} */
a:active {  background-color: black; }
a:visited {  }
a:hover {   cursor: pointer; }

h1 {
    font: 700 2em Rubik, sans-serif;
}

h2 {
    font: 500 1em Rubik, sans-serif;
    margin: 0;
}

h2:hover {
    padding: .2em 0em .2em .4em;
    background: #FFFFFF;
    border: 1px solid #714060;
    box-sizing: border-box;
    box-shadow: -4px 4px 0px rgba(113, 64, 96, 0.3);
    text-decoration: none;
}

h3 {
    font: 700 0.857em Rubik, sans-serif;
    color:#FFF;
    margin: 1em 0 0 0;
}



#wrapper {
    background: url(../../static/pattern04c.png);
    background-color: #FFADA1;
}

/* container grid */
.container {
    display: grid;
    grid-template-columns: 1em repeat(12, 1fr) 1em;
    grid-gap: .5em;
    grid-auto-flow: dense;    
    max-width: 1200px;
} 

.title {
    background-color: #2e2e2e ;
    grid-column-start: 1;
    grid-column-end: 15;
    height: 6em;
}

.podcast {
    grid-column-start: 3;
    grid-column-end: 3;
}


.tagBox {
    grid-column-start: 9;
    grid-column-end: 12;
}


.directory {
    grid-column-start: 3;
    grid-column-end: 8;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    line-height: 1;
}

.directoryListItem {
    /* background-color: #999; */
    /* margin-top: 1em; */
  }




.post-tag-container {
    margin: 0em;
}

.post-tag-container a, .post-cat-container a {
    /* background-color: rgb(82, 82, 82); Green */
    /* color: white; */
    margin: 0em .25em 0em .25em;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font: 400 .8em Rubik, sans-serif;
    color: midnightblue;
}






.paging-container {

}