* { }

body {
    font-size: 14px;
    line-height: 1.3em;
}

a {
    text-decoration: none;
}


a {         color:#2e2e2e; }
/* h1:hover, h2:hover, a:hover {   
    background-color: rgb(255, 255, 255); 
} */
a:active {  background-color: black; }
a:visited {  }
a:hover {   cursor: pointer; }

h1 {
    font: 700 2em JetBrains-Mono, sans-serif;
}

h2 {
    font: 500 1em JetBrains-Mono, sans-serif;
    margin: 0;
    font-weight: 400;
}


h3 {
    font: 700 0.857em JetBrains Mono, sans-serif;
    color:#FFF;
    margin: 1em 0 0 0;
}



#wrapper {
    background: url(../../static/pattern04c.png);
    background-color: #FFADA1;
}

/* container grid */
.container {
    display: grid;
    grid-template-columns: 1em repeat(12, 1fr) 1em;
    grid-gap: .5em;
    grid-auto-flow: dense;    
    max-width: 1200px;
} 

.title {
    background-color: #ffffff ;
    grid-column-start: 1;
    grid-column-end: 15;
    height: 10em;
}

.podcast {
    grid-column-start: 3;
    grid-column-end: 3;
}




.directory {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(6, minmax(0,1fr));
    grid-gap: .5em;
    grid-template-rows: auto;
}

.directoryBlock {
    grid-column: span 2;
}

.directoryListItem {
    font: 400 .8em JetBrains-Mono, sans-serif;
    line-height: 1.6em;
}

.directoryListItem:hover {
    background: #FFFFFF;
    border: .1em solid #714060;
    padding: .2em .4em .1em .4em;
    margin: -.3em -.4em -.2em -.5em;
    box-shadow: -.3em .3em 0px rgba(113, 64, 96, 0.3);
    text-decoration: none;
}

.blockTitle {
    font: 500 .8em JetBrains-Mono, sans-serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1em 0 .2em 0;
}



/* Cats and Tags */
.tagBox {
    grid-column-start: 10;
    grid-column-end: 13;
}

.post-tag-container a, .post-cat-container a {
    font: 400 .9em JetBrains-Mono, sans-serif;
    font-style: italic;
    line-height: 1.6em;
    color: #714060;
    display: block;
    
}

.post-cat-container a {
    display: inline-block;
    margin-right: .2em;
}





.paging-container {

}