

/* INTERVIEW PAGE */



/* CONTAINER GRID */



.episode {
    display: grid;
    grid-template-rows: repeat(4, 10em);
    background-color: brown;
}

.featuredImage {
    opacity: 1;
    width: 512px;
    height: 512px;
    background-color: chartreuse;
}


.titleBin {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 10em 1fr);
    grid-gap: .5em;
    grid-auto-flow: dense;     
    max-width: 1200px;
    
}

.article {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
}

.post-share {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8;
}

/* ARTICLE */

p {
    font: 400 1.5em Spectral, serif;
}


/* PEOPLE */

.person {
    font: 400 .8em JetBrains-Mono, sans-serif;
}

.interviewer {
    
}

.one {
    background-color:rgba(63, 191, 127, 0.5);
    padding: 0px 10px 0 10px;
    border-radius: 10% 20% 40% 20%;
}

.two {
    background-color:rgba(223, 142, 37, 0.5);
    padding: 0px 10px 0 10px;
    border-radius: 10% 20% 40% 20%;
}

.three {
    background-color:rgba(63, 129, 191, 0.5);
    padding: 0px 10px 0 10px;
    border-radius: 10% 20% 40% 20%;
}
